.sign-out-btn {
  background: none;
  border: none;
  border-radius: 5px;
  color: hsla(360, 0%, 100%, 1);
  font-family: 'nav';
  font-size: 16px;
  height: 40px;
  width: 90px;
  &:hover {
    cursor: pointer;
  }
}