@font-face {
  font-family: 'movie-title';
  src: url('./utils/assets/neue-helv/HelveticaNeue-LightCondObl.woff') format('woff2');
}

.movie {
  width: 200px;
  margin: 15px;
  padding-top: 40px;
  position: relative;
  img {
    width: 200px;
  }
  .movie-info {
    background: hsla(0, 0%, 5%, 1);
    color: white;
    visibility: hidden;
    font-family: 'arial';
    height: 200px;
    width: 400px;
    position: fixed;
    // top: 250px;
    // margin-left: 100px;
    // // overflow-y: auto;
    text-overflow: ellipsis;
    z-index: 1;
  }
  &:hover {
    .movie-info {
      visibility: visible;
      // position: fixed;
      // padding: 10px;
      // transform: none;
      // right: auto;
      // bottom: auto;
      // top: auto;
      // left: auto;
      // margin: 0 auto;
      // margin-top: -15px;
      // margin-left: -22px;
    }
  &:after {
    .movie-info {
    }
  }
  }
  // &:after {
  //     border-left: 20px solid transparent;
  //     border-top: 20px solid #efefef;
  //     bottom: -20px;
  //     content: "";
  //     position: absolute;
  //     right: 20px;
  // }
}

.movie-title {
  color: 'black';;
  font-size: 22px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: 'white';
}