.back-btn {
  color: hsla(0, 0%,10%, 1);
  font-size: 32px;
  margin: auto;
  margin-bottom: 25px;
  width: 150px;
  &:hover {
    color: hsla(360, 0%, 90%, 1);
  }
}

.form {
  background: hsla(0, 0%, 35%, .9);
  display: flex;
  flex-direction: column;
  font-family: 'bebas';
  height: 80%;
  width: 400px;
  margin: auto;
  padding: 15px;
}

.input {
  font-size: 16px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 10px;
  height: 30px;
  width: 80%;
}

.sign-in-btn {
  background: hsla(0, 0%,10%, 1);
  border: none;
  border-radius: 5px;
  color: hsla(360, 0%, 100%, 1);
  font-family: 'bebas';
  font-size: 32px;
  height: 40px;
  letter-spacing: .2em;
  margin: auto;
  width: 95%;
  &:hover {
    background: hsla(360, 0%, 100%, 1);
    color: hsla(0, 0%,10%, 1);
  }
}

.sign-out-btn {
  background: none;
  border: none;
  color: hsla(360, 0%, 100%, 1);
  font-family: 'nav';
  font-size: 16px;
  &:hover {
    cursor: pointer;
  }
}

h4 {
  color: hsla(360, 0%, 100%, 1);
}